@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.652 0.132 162.7);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.95 0.05 162.7);
  --secondary-foreground: oklch(0.25 0.08 162.7);
  --muted: oklch(0.97 0.02 162.7);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.92 0.07 162.7);
  --accent-foreground: oklch(0.25 0.08 162.7);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.9 0.03 162.7);
  --input: oklch(0.9 0.03 162.7);
  --ring: oklch(0.7 0.1 162.7);
  --chart-1: oklch(0.652 0.132 162.7);
  --chart-2: oklch(0.6 0.15 120);
  --chart-3: oklch(0.55 0.15 200);
  --chart-4: oklch(0.7 0.15 80);
  --chart-5: oklch(0.6 0.15 240);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.01 162.7);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.652 0.132 162.7);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.92 0.07 162.7);
  --sidebar-accent-foreground: oklch(0.25 0.08 162.7);
  --sidebar-border: oklch(0.9 0.03 162.7);
  --sidebar-ring: oklch(0.7 0.1 162.7);
}

/*
  ---break---
*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.75 0.15 162.7);
  --primary-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.25 0.08 162.7);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.25 0.05 162.7);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.3 0.1 162.7);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.3 0.05 162.7);
  --input: oklch(0.3 0.05 162.7);
  --ring: oklch(0.5 0.1 162.7);
  --chart-1: oklch(0.75 0.15 162.7);
  --chart-2: oklch(0.7 0.18 120);
  --chart-3: oklch(0.65 0.18 200);
  --chart-4: oklch(0.8 0.18 80);
  --chart-5: oklch(0.7 0.18 240);
  --sidebar: oklch(0.2 0.03 162.7);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.75 0.15 162.7);
  --sidebar-primary-foreground: oklch(0.145 0 0);
  --sidebar-accent: oklch(0.3 0.1 162.7);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.3 0.05 162.7);
  --sidebar-ring: oklch(0.5 0.1 162.7);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Utilities */

@utility nav-li {
  @apply relative before:absolute before:inset-1/2 before:block before:rounded-md before:transition-all before:duration-300 hover:before:inset-[-0.5px] hover:before:bg-accent hover:text-accent-foreground;
}

@utility section {
  @apply flex bg-background w-full flex-col items-center section-px;
}

@utility section-container {
  @apply flex w-full max-w-7xl flex-col section-gap;
}

@utility section-pt-big {
  @apply pt-16 lg:pt-20;
}

@utility section-pt-small {
  @apply pt-5 lg:pt-7;
}

@utility section-pb {
  @apply pb-5 lg:pb-7;
}

@utility section-px {
  @apply px-5 sm:px-7;
}

@utility section-gap {
  @apply gap-5 lg:gap-7;
}

@utility section-title {
  @apply text-3xl font-bold tracking-tight lg:text-4xl;
}

@utility news-span-2 {
  @apply lg:col-span-2;
}

@utility news-span-3 {
  @apply lg:col-span-3 lg:row-span-2;
}

@utility news-grid {
  @apply grid w-full grid-flow-row grid-cols-1 gap-5 sm:grid-cols-2 lg:h-[150vh] lg:min-h-[800px] lg:grid-cols-5 lg:grid-rows-4;
}
